<div class="border p-3" role="button" [ngClass]="isSelected ? 'bg-white' : 'unselecttab border-light'" (click)="selectTab.emit()">
  <h2 class="mb-1" iranYekan>{{ tabInfo.name }}</h2>
  <div class="shares text-muted">
    <div class="d-flex justify-content-between gap-5">
      <div>مبلغ کل:</div>
      <div>{{ (tabInfo.shares?.totalAmount ?? 0) | seperator }}</div>
    </div>

    <div class="d-flex justify-content-between">
      <div>مبلغ تعرفه:</div>
      <div>0</div>
    </div>

    <div class="d-flex justify-content-between">
      <div>مبلغ کسور بیمارستان:</div>
      <div>0</div>
    </div>

    <div class="d-flex justify-content-between">
      <div>مبلغ خارج از پوشش بیمه:</div>
      <div>{{ (tabInfo.shares?.outOfCover ?? 0) | seperator }}</div>
    </div>

    <div class="d-flex justify-content-between">
      <div>مبلغ کل:</div>
      <div>0</div>
    </div>
  </div>
</div>
