<div class="border rounded p-3 d-flex gap-2">
  <div>
    <p class="m-0" iranYekan>
      <span>[ {{ subItem.serviceNN }} ]</span>
      <span>
        {{ subItem.serviceName }}
      </span>
    </p>
  </div>
  <div class="me-auto ms-2">
    <div class="text-start">
      <span iranYekan>سهم کل: </span>
      <span iranYekan>{{ subItem.totalAmount | seperator }}</span>
    </div>
    <div class="text-nowrap">
        <span>سهم بانک: </span>
        <span>{{ subItem.orgAmount | seperator }}</span>
        <span> / </span>
        <span>سهم بیمه شده: </span>
        <span>{{ subItem.insuredAmount | seperator }}</span>
    </div>
  </div>
  <div class="center">
    <mat-icon (click)="onDeleteSub()">delete</mat-icon>
  </div>
</div>
