<div class="wrapper">
  <div class="row w-100 mx-auto">
    <div class="col-3">
      <p class="m-0">
        <span>سهم بیمه شده</span>
      </p>
    </div>

    <div class="col-3">
      <p class="m-0">
        <span>فرانشیز: </span>
        <span>0</span>
      </p>
    </div>

    <div class="col-3">
      <p class="m-0">
        <span>خارج از پوشش بیمه: </span>
        <span>0</span>
      </p>
    </div>
  </div>

  <div class="row w-100 mx-auto">
    <div class="col">
      <p class="m-0">
        <span>سهم بانک</span>
      </p>
    </div>

    <div class="col">
      <p class="m-0">
        <span>سهم بهداشت و درمان: </span>
        <span>0</span>
      </p>
    </div>

    <div class="col">
      <p class="m-0">
        <span>سهم تکمیلی: </span>
        <span>0</span>
      </p>
    </div>

    <div class="col">
      <p class="m-0">
        <span>سهم ایثارگر: </span>
        <span>0</span>
      </p>
    </div>

    <div class="col">
      <p class="m-0">
        <span>سهم سایر: </span>
        <span>0</span>
      </p>
    </div>
  </div>

  <div class="row w-100 mx-auto fw-bold">
    <div class="col-3">
      <p class="m-0">
        <span>مبلغ کل: </span>
        <span>0</span>
      </p>
    </div>

    <div class="col-3">
      <p class="m-0">
        <span>مبلغ تعرفه: </span>
        <span>0</span>
      </p>
    </div>

    <div class="col-3">
      <p class="m-0">
        <span>کسور بیمارستانی: </span>
        <span>0</span>
      </p>
    </div>

    <div class="col-3">
      <p class="m-0">
        <span>مبلغ قابل پرداخت: </span>
        <span>0</span>
      </p>
    </div>
  </div>
</div>
