<table class="table-bordered w-100 border-2">
  <tbody>
    <tr class="fw-bold">
      <td rowspan="2">سهم بیمه شده</td>
      <td class="text-center">فرانشیز</td>
      <td class="text-center">خارج از پوشش بیمه شده</td>
      <td></td>
      <td></td>
    </tr>
    <tr class=" ">
      <td class="text-center">{{ (shares?.insuredPart ?? 0) | seperator }}</td>
      <td class="text-center">{{ (shares?.outOfCover ?? 0) | seperator }}</td>
      <td class="text-center"></td>
      <td class="text-center"></td>
    </tr>

    <tr class="fw-bold">
      <td rowspan="2">سهم بانک</td>
      <td class="text-center">سهم بهداشت و درمان</td>
      <td class="text-center">سهم تکمیلی</td>
      <td class="text-center">سهم ایثارگر</td>
      <td class="text-center">سهم سایر</td>
    </tr>
    <tr class=" ">
      <td class="text-center">{{ (shares?.basePart ?? 0) | seperator }}</td>
      <td class="text-center">{{ (shares?.supplementaryPart ?? 0) | seperator }}</td>
      <td class="text-center">{{ (shares?.veteranPart ?? 0) | seperator }}</td>
      <td class="text-center">{{ (shares?.otherPart ?? 0) | seperator }}</td>
    </tr>

    <tr class="fw-bold">
      <td rowspan="2">جمع کل</td>
      <td class="text-center">مبلغ کل</td>
      <td class="text-center">مبلغ تعرفه</td>
      <td class="text-center">کسور بیمارستانی</td>
      <td class="text-center">مبلغ قابل پرداخت</td>
    </tr>
    <tr>
      <td class="text-center">{{ (shares?.totalAmount ?? 0) | seperator }}</td>
      <td class="text-center">{{ 0 }}</td>
      <td class="text-center">{{ (shares?.deduction ?? 0) | seperator }}</td>
      <td class="text-center">{{ (shares?.payableAmount ?? 0) | seperator }}</td>
    </tr>
  </tbody>
</table>
