<table class="table-bordered w-100 border-2">
  <tbody>
    <tr class="fw-bold">
      <td rowspan="2">سهم بیمه شده</td>
      <td class="text-center">فرانشیز</td>
      <td class="text-center">خارج از پوشش بیمه شده</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="b-bottom">
      <td class="text-center">0</td>
      <td class="text-center">0</td>
      <td class="text-center"></td>
      <td class="text-center"></td>
    </tr>

    <tr class="fw-bold">
      <td rowspan="2">سهم بانک</td>
      <td class="text-center">سهم بهداشت و درمان</td>
      <td class="text-center">سهم تکمیلی</td>
      <td class="text-center">سهم ایثارگر</td>
      <td class="text-center">سهم سایر</td>
    </tr>
    <tr class="b-bottom">
      <td class="text-center">0</td>
      <td class="text-center">0</td>
      <td class="text-center">0</td>
      <td class="text-center">0</td>
    </tr>

    <tr class="fw-bold">
      <td rowspan="2">جمع کل</td>
      <td class="text-center">مبلغ کل</td>
      <td class="text-center">مبلغ تعرفه</td>
      <td class="text-center">کسور بیمارستانی</td>
      <td class="text-center">مبلغ قابل پرداخت</td>
    </tr>
    <tr>
      <td class="text-center">0</td>
      <td class="text-center">0</td>
      <td class="text-center">0</td>
      <td class="text-center">0</td>
    </tr>
  </tbody>
</table>
