<form [formGroup]="partnerForm" (ngSubmit)="selectPartnerDone()">
  <div>
    <mat-radio-group color="primary" [formControl]="partnerTypeControl">
      <mat-radio-button
        *ngFor="let partner of parnterTypes"
        [value]="partner.symbol"
        >{{ partner.name }}</mat-radio-button
      >
    </mat-radio-group>
  </div>
  <br>
  <div class="d-flex gap-2">
    <div class="col-7">
      <app-quick-search-partner
        [partnerType]="partnerTypeControl.value"
        [partner]="partner?.partner?.partnerInfo ?? null"
        [control]="partnerSearchControl"
        (onSelectPartner)="onSelectPartner($event)"
      ></app-quick-search-partner>
    </div>
    <div class="col-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>تاریخ ارائه خدمت</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="serviceDate"/>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-auto center">
      <button type="submit" class="btn btn-outline-primary">
        انتخاب
      </button>
    </div>
  </div>
</form>
