<div class="wrapper position-relative border p-4">
  <div
    (click)="open = !open"
    role="button"
    class="title border px-5 py-3 position-absolute top-0 start-50 translate-middle rounded-md"
    [ngClass]="open ? 'bg-white' : 'bg-light'"
  >
    {{ config.title }}
  </div>
  <br>
  <ng-container *ngIf="open">
    <div>
      <app-hospital-category-shares></app-hospital-category-shares>
    </div>
    <br>
    <app-divider>
      <div class="px-4">خدمات</div>
    </app-divider>
    <br>
    <div>
      <ng-content></ng-content>
    </div>
    <div>
      <!-- <app-subs-share></app-subs-share> -->
    </div>
  </ng-container>
</div>
