<div class="d-flex gap-3">
  <div class="tabs col-3">
    <app-hospital-tab
      *ngFor="let tab of tabs"
      [tabInfo]="tab"
      [isSelected]="selectedTab === tab.symbol"
      (selectTab)="onSelectTab(tab.symbol)"
    ></app-hospital-tab>
  </div>
  <div class="services flex-grow-1">
    <div [ngClass]="selectedTab !== hospitalCategory.doctorServices ? 'hide' : null" >
      <app-hospital-doctor-services
      ></app-hospital-doctor-services>
    </div>
    <div [ngClass]="selectedTab !== hospitalCategory.drugAndEquipServices ? 'hide' : null" >
      <app-hospital-drug-equipment
      ></app-hospital-drug-equipment>
    </div>
    <div [ngClass]="selectedTab !== hospitalCategory.hotelingServices ? 'hide' : null">
      <app-hospital-hoteling
      ></app-hospital-hoteling>
    </div>
    <div [ngClass]="selectedTab !== hospitalCategory.paraclinicServices ? 'hide' : null">
      <app-hospital-paraclinic
      ></app-hospital-paraclinic>
    </div>
    <div [ngClass]="selectedTab !== hospitalCategory.otherServices ? 'hide' : null">
      <app-hospital-other-services
      ></app-hospital-other-services>
    </div>
  </div>
</div>
