<div class="border shadow p-4 rounded bg-white position-relative">
  <app-select-member *ngIf="isActive('selectMember')"></app-select-member>
  <ng-container *ngIf="isActive('saveDossier')">
    <app-expand-card [status]="true">
      <div class="border d-flex flex-column gap-3 mx-auto rounded p-3" content>
        <div class="border rounded" *ngIf="memberInfo | async as member">
          <app-member-info [memberInfo]="member"></app-member-info>
        </div>
        <app-expand-card #serviceCard>
          <button
            *ngIf="!serviceCard.status"
            class="btn btn-outline-primary d-block mx-auto"
            button
            (click)="serviceCard.status = !serviceCard.status"
          >
            ثبت خسارت
          </button>
          <div
            *ngIf="serviceCard.status"
            class="border rounded position-relative p-4 d-flex flex-column gap-3"
            content
          >
            <mat-icon
              class="position-absolute close-icon"
              (click)="serviceCard.status = false"
              >close</mat-icon
            >
            <app-select-partner
              *ngIf="isActive('selectPartner')"
            ></app-select-partner>
            <app-select-cparty
              *ngIf="isActive('selectCparty')"
            ></app-select-cparty>
            <div class="p-2" *ngIf="isActive('selectService')">
              <app-divider></app-divider>
            </div>
            <app-select-service
              *ngIf="isActive('selectService')"
            ></app-select-service>
          </div>
        </app-expand-card>
      </div>
    </app-expand-card>
  </ng-container>
</div>
