<div class="cparty-info d-flex gap-3">
  <div class="col-1 center">
    <img src="../../../../../assets/images/doctor.png" alt="" class="w-100 rounded-full">
  </div>
  <div class="col d-flex flex-column justify-content-around gap-2">
    <div>
      <span>نام و نام خانوادگی پزشک: </span><span>{{ cparty.fullName }}</span>
    </div>
    <div>
      <span>شماره نظام پزشکی: </span
      ><span>{{ cparty.noMedicalSystem ?? "نامشخص" }}</span>
    </div>
    <div>
      <span>آدرس: </span><span>{{ cparty.address ?? "نامشخص" }}</span>
    </div>
  </div>
  <div class="col d-flex flex-column justify-content-around gap-2">
    <div>
      <span>تاریخ تجویز خدمت: </span
      ><span>{{ cparty.serviceDate | shamsi }}</span>
    </div>
  </div>
</div>
