@font-face {
    font-family: "iran-yekan";
    src: url("./assets/fonts/iranyekanwebregularfanum.woff2");
}

* {
    box-sizing: border-box;
    font-family: 'iran-yekan';
}

body, html {
    margin: 0;
    background-color: #e0ffff;
    width: 100vw;
    height: 100vh;
}

.default-background {
    background-color: #e0ffff;
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.close-icon {
    top: 10px;
    left: 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
